/* nav {
   
    padding-right: 3em;
    padding-left: 1em;
    border-radius: 0 0 1em 1em;
    position: fixed;
    top: 0;
    left:0.5em;
    right: 4em;  

}
#ham {
    width:2.6em;
    position: fixed;
    right:0.5em;
    top: 0.4em;
}

nav ul {
    width: 100%;
    display:grid;
    grid-template-columns: 12% 16% 16% 16% 12% 16% 15% ;
    grid-template-rows: auto;
    list-style: none;
    margin: 0;
    padding: 0; 
  
}

nav li {
    
    font-size: 1.2em;
    margin:0.5em;
    
  
}

.links {
    text-align: center;
    display: block;
    text-decoration: none;
    background-color: #14A76C;
    border-radius: 0.35em 0.35em 0 0;
    padding: 0.4em;
    overflow: hidden;
}

.overviews{
    font-size: 0.75em;
    text-align: center;
    display: block;
    text-decoration: none;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: black;
    border-radius:  0 0 0.35em 0.35em;
}

.overviews li{
    font-size: 0.75em;
}


@media only screen and (max-width: 880px) {
    nav ul {
        width: 100%;
        display:grid;
        grid-template-columns: auto auto auto auto ;
        grid-template-areas:"one two";
        grid-template-rows: auto;
    }
    .welcome{
        margin-top: 6em;
    }

}


#navContainer {

    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    border-radius: 3em;
    padding:1em;
    margin-top:2em;
    width: 100%;
    background-image: url("images/background1.jpg" );
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navBox{
    margin:1em;
    padding-top: 0.75em;
    padding-bottom:  0.75em;
    border: 1px #FFE400 solid;
    border-radius: 0.5em;
}
.navBox a{ 
    color: #FF652F;
    text-transform: uppercase;
    padding:1.2em;
    font-size: 1.1em;
    font-weight: bolder;
    text-decoration: none;
} */
