/* black shade #272727
    gray shade #747474
    orange shade #FF652F
    yellow shade #FFE400
    green shade #14A76C

*/

/* General look and feel of the website */

/* do a gradient here for background */
body{
    background: rgb(110,110,110);
    background: linear-gradient(90deg, rgba(110,110,110,1) 0%, rgba(59,59,59,1) 20%, rgba(36,36,36,1) 50%, rgba(59,59,59,1) 80%, rgba(110,110,110,1) 100%);

}
nav,header{
    background-color: #272727
}
section{
    background-color: #272727;
}
*{
    color:white;
}

h1,h2,h3,caption{
    color: #FF652F;

}
b{
color:#14A76C;
}

.welcome {
    margin: 10%;
    margin-top: 0;
    text-align: center;
}
pre{
    border: 1px solid #14A76C;
}

/* Menu styling -------------- */
nav{
    border: 0.125em solid #FFE400;
    border-radius: 1em;
    width: 100%;
}

nav ul {
    list-style: none;
    margin-right: auto;
    margin-left: auto;
    display: inline-flex;
}

nav li{
    margin:1em;
}
nav a {
    font-size: 1.5em;
    text-decoration: none;
    
}



/* ------------------------------------------ */

/* lecture slides styling ------------------ */
main{
    margin-top:2.5em;
    padding: 0.5em; 
}
.lectures{
    box-shadow: 3px -5px 20px 3px #FFE400;
    padding:2.5em;
    margin-top: 2em;
    border-radius: 2em;
}

.overview section {
    box-shadow: 3px -5px 20px 3px #FFE400;
    padding:2.5em;
    margin-top: 2em;
    border-radius: 2em;
}

.overview div{
    text-align: unset;
}

 .overview td {
    padding:0.7em;
}
.overviewLists li{
    padding-bottom:0.5em;
}

.Topic{
    text-align: center;
    font-size: 3em;
    color:royalblue;
}
/* ------------------------------------ */

@media only screen and (min-width: 65em) {

    body{
        padding: 2em;
        width: 60em;
        margin-left:auto;
        margin-right:auto;
    }
} 


/* images */


/* styling the next and prev buttons + search */
div{
    text-align: center;
 }
 
 #prev, #next{
     width: 2.2em;
     padding: 0.5em;
 }
 .lectureNum{
     text-align: center;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 1.75em;
     padding: 1em;
     background: transparent;
 }
 
 .lectureSearch{
     background-color: #272727;
     float: left;
     border-radius: 0.75em;
     padding:0.3em;
     margin-bottom: 2.25em;
     width:200px;
     border:0.125em #FF652F solid;

 }
 /* -------------------------------- */
 
 /* styling the header info */
header{
    display:grid;
    grid-template-columns: 70% 30% ;
    grid-template-rows: auto;
    grid-template-areas:"txt picture";
    height: 100%;
    margin-top:1.5em;
    margin:1em; 
    box-shadow: 3px 1px 16px 10px rgba(125,116,125,1);
}
header img{
    grid-area: picture;
    width:80%;
    margin:1em;

}

header h1{
    grid-area: txt;
    font-size: 3em;
    margin: 1em;
}

#algo{
    background-image:url(../images/algorithms/algorithms.jpg);
    margin:1em;
    padding:0.5em;
}
#algo div{
    color:white; 
    font-size: 2em;
    text-align: center;
    background: transparent;
}

/* ----------------------------------------- */


/* styling related code samples to be together */
.related{
    display: inline;

}


/* aside styling */

aside h1:first-of-type{
    text-align: center;
}

aside a{
    display: block;
    padding:0.2em;
}

aside ul {
    column-count: 2;

}
@media only screen and (min-width: 20em) {
    aside ul {
    column-count: 3;

}
}

@media only screen and (min-width: 45em) {
    aside ul {
    column-count: 5;

}
}
aside{
    margin:1em;
    padding:1em;
    box-shadow: 0px -5px 5px 3px rgba(11,142,186,1);

}
/* ---------------------------------------------------- */

/* search box style */

#prev, #next{
    width: 2.2em;
    padding: 0.5em;
}
.lectureNum{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.75em;
    padding: 1em;
}

#rows{
    text-align: left;
}

#diagram{
    grid-area: picture;
    padding:2em 2em 0em 0em;
    width: 25em;
}

/* ----------------------------------- */




@media only screen and (min-width: 62em) {
#rows{
    display:grid;
    grid-template-columns: 50% 50% ;
    grid-template-rows: auto;
    grid-template-areas:"table picture";
}
#diagram{
    width: 95%;
}
}


/* styling the table */
table {
    grid-area: table;
    margin:1.5em;
    border-collapse: collapse;
}
caption{
    font-weight: bold;
    font-size: 1.5em;
    padding:0.5em;
}
td {
    text-align: center;
}

th {
    padding:0.3em;
    text-align: center;
    font-size: 1.25em;

}

td, th {
    border: 2px solid #FFE400;   
}