/* black shade #272727
    gray shade #747474
    orange shade #FF652F
    yellow shade #FFE400
    green shade #14A76C

*/

/* General look and feel of the website */

/* do a gradient here for background */
body{
    margin-top: 4em;
    background: rgb(110,110,110);
    background: linear-gradient(90deg, rgba(110,110,110,1) 0%, rgba(59,59,59,1) 20%, rgba(36,36,36,1) 50%, rgba(59,59,59,1) 80%, rgba(110,110,110,1) 100%);

}
nav,header{
    background-color: #272727
}
section{
    background-color: #272727;
}
*{
    color:white;
}

h1,h2,h3,caption{
    color: #FF652F;

}
b{
color:#14A76C;
}

.welcome {
    margin: 10%;
    margin-top: 2em;
    text-align: center;
}
pre{
    border: 1px solid #14A76C;
}

/* Link to Index page  */
#home{
    position: absolute;
    top:0.1em;
    /* left: 45%;
    right: 45%; */
    left:0.1em;
    border-radius: 0.5em;
    width:7em;
}

/* Menu styling -------------- */

nav {
   display: none;
    padding-right: 3em;
    padding-left: 1em;
    border-radius: 0 0 1em 1em;
    position: fixed;
    top: 0;
    left:0.5em;
    right: 4em;  

}
#ham {
    width:2.6em;
    position: fixed;
    right:0.5em;
    top: 0.4em;
}

nav ul {
    width: 100%;
    display:grid;
    grid-template-columns: 12% 16% 16% 16% 12% 16% 15% ;
    grid-template-rows: auto;
    list-style: none;
    margin: 0;
    padding: 0; 
  
}

nav li {
    
    font-size: 1.2em;
    margin:0.5em;
    
  
}

.links {
    text-align: center;
    display: block;
    text-decoration: none;
    background-color: #14A76C;
    border-radius: 0.35em 0.35em 0 0;
    padding: 0.4em;
    overflow: hidden;
}

.overviews{
    font-size: 0.75em;
    text-align: center;
    display: block;
    text-decoration: none;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: black;
    border-radius:  0 0 0.35em 0.35em;
}

.overviews li{
    font-size: 0.75em;
}


@media only screen and (max-width: 880px) {
    nav ul {
        width: 100%;
        display:grid;
        grid-template-columns: auto auto auto auto ;
        grid-template-areas:"one two";
        grid-template-rows: auto;
    }
    body{
        margin-top: 8em;
    }

}


#navContainer {

    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    border-radius: 3em;
    padding:1em;
    margin-top:2em;
    width: 100%;
    background-image: url("../images/background1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navBox{
    margin:1em;
    padding-top: 0.75em;
    padding-bottom:  0.75em;
    border: 1px #FFE400 solid;
    border-radius: 0.5em;
}
.navBox a{ 
    color: #FF652F;
    text-transform: uppercase;
    padding:1.2em;
    font-size: 1.1em;
    font-weight: bolder;
    text-decoration: none;
}
 


/* ------------------------------------------ */

/* lecture slides styling ------------------ */
main{
    margin-top:2.5em;
    padding: 0.5em; 
}
.lectures{
    box-shadow: 3px -5px 20px 3px #FFE400;
    padding:2.5em;
    margin-top: 2em;
    border-radius: 2em;
}

.overview section {
    box-shadow: 3px -5px 20px 3px #FFE400;
    padding:2.5em;
    margin-top: 2em;
    border-radius: 2em;
}
.overview {
    text-align: center;
}
.overview section{
    text-align: left;
}
.overview div{
    text-align: unset;
}

 .overview td {
    padding:0.7em;
}
.overviewLists li{
    padding-bottom:0.5em;
}

.overviewLists i {
    color: #FFE400; 
    font-weight: bold;
    font-size: 1.2em;
}

.Topic{
    text-align: center;
    font-size: 3em;
    color:royalblue;
}

/* ------------------------------------ */

@media only screen and (min-width: 65em) {

    body{
        padding: 2em;
        width: 60em;
        margin-left:auto;
        margin-right:auto;
    }
} 


/* images */


/* styling the next and prev buttons + search */
div{
    text-align: center;
 }
 
 #prev, #next{
     width: 2.2em;
     padding: 0.5em;
 }
 .lectureNum{
     text-align: center;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 1.75em;
     padding: 1em;
     background: transparent;
 }
 
 .lectureSearch{
     background-color: #272727;
     float: left;
     border-radius: 0.75em;
     padding:0.3em;
     margin-bottom: 2.25em;
     width:200px;
     border:0.125em #FF652F solid;

 }
 /* -------------------------------- */
 
 /* styling the header info */
header{
    display:grid;
    grid-template-columns: 70% 30% ;
    grid-template-rows: auto;
    grid-template-areas:"txt picture";
    height: 100%;
    margin-top:1.5em;
    margin:1em; 
    box-shadow: 3px 1px 16px 10px rgba(125,116,125,1);
}
header img{
    grid-area: picture;
    width:80%;
    margin:1em;

}

header h1{
    grid-area: txt;
    font-size: 3em;
    margin: 1em;
}

#algo{
    background-image:url("../images/algorithms/algorithms.jpg");
    margin:1em;
    padding:0.5em;
}
#algo div{
    color:white; 
    font-size: 2em;
    text-align: center;
    background: transparent;
}

/* ----------------------------------------- */


/* styling related code samples to be together */
.related{
    display: inline;

}


/* aside styling */

aside h1:first-of-type{
    text-align: center;
}

aside a{
    display: block;
    padding:0.2em;
}

aside ul {
    column-count: 2;

}
@media only screen and (min-width: 20em) {
    aside ul {
    column-count: 3;

}
}

@media only screen and (min-width: 45em) {
    aside ul {
    column-count: 5;

}
}
aside{
    margin:1em;
    padding:1em;
    box-shadow: 0px -5px 5px 3px rgba(11,142,186,1);

}
/* ---------------------------------------------------- */

/* search box style */

#prev, #next{
    width: 2.2em;
    padding: 0.5em;
}
.lectureNum{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.75em;
    padding: 1em;
}

#rows{
    text-align: left;
}

#diagram{
    grid-area: picture;
    padding:2em 2em 0em 0em;
    width: 25em;
}

/* ----------------------------------- */




@media only screen and (min-width: 62em) {
#rows{
    display:grid;
    grid-template-columns: 50% 50% ;
    grid-template-rows: auto;
    grid-template-areas:"table picture";
}
#diagram{
    width: 95%;
}
}


/* styling the table */
table {
    grid-area: table;
    margin:1.5em;
    border-collapse: collapse;
}
caption{
    font-weight: bold;
    font-size: 1.5em;
    padding:0.5em;
}
td {
    text-align: center;
}

th {
    padding:0.3em;
    text-align: center;
    font-size: 1.25em;

}

td, th {
    border: 2px solid #FFE400;   
}



#keywordsUsability{

    margin-left: auto;
    margin-right: auto;

}

#keywordsUsability td, th{
    padding: 1.5em;
}

button{
    color:black;
    padding:1em;
}

.guidelines li {
    color:rgb(206, 78, 78);
    font-weight: bold;
    
}
.guidelines span {
    color:rgb(97, 104, 240);
    font-weight: bold;
    font-size: 1.4em;
    
}

.guidelines div{
    color: rgb(189, 177, 12);
    font-style: italic;
}

#interactionStyles  li{
    color:lightseagreen;
    font-weight: bold;
    font-size: 1.3em;
}
#interactionStyles li p{
font-size: 0.7em;
font-weight: normal;
}

.answer{
    border: #14A76C 2px solid;
    padding:1em;
    text-align: left;
}